{% extends "base.html" %}


{% block content %}

<div class="text-center px-4">
    <h1 class="text-4xl font-bold">
        <span class="text-White">MY</span> <span class="text-cyan-500">RESUME</span>
    </h1>
        {% if resume %}
            <p class="text-lg text-gray-300 mb-4">Applicant: <span class="text-cyan-400">{{ resume.applicant_name }}</span></p>
            <p class="text-lg text-gray-300 mb-4">Title: <span class="text-cyan-400">{{ resume.title }}</span></p>
            <div class="mt-4">
                <a href="{{ resume.resume_file.url }}" target="_blank" class="bg-cyan-400 text-gray-800 font-bold py-2 px-4 rounded-full hover:bg-cyan-300 transition">
                    View Resume
                </a>
            </div>
        {% else %}
            <p class="text-red-400 text-lg">No resume available.</p>
        {% endif %}

{% endblock %}
